name: CI Base Express + Lint

on:
  push:
    branches: [ "master", "feature-pipeline"]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installation Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Installation des paquets
        run: npm install

      - name: Vérification Syntaxe (Lint)
        run: npm run lint

      - name: Exécution des tests d'intégration
        run: npm test

  sonarcloud:
    name: Qualité • SonarCloud (multi-langages)
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: test

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Scan SonarCloud (PHP + JS/TS)
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=MAALSI-JDMN_Collector.Shop-back-service
            -Dsonar.organization=maalsi-jdmn